*{
    margin:0;
    padding:0;

}

.container {
    position: relative;
    width: 100%;
  }

  .grid-item {
    position: relative;

    background-color: lightcoral;
    color: #222;
    border: 1px solid white;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:repeat(4,150px);
    grid-row-gap:20px;
    grid-column-gap: 20px;
  }

  .grid-item-1{
      grid-column-start: 1;
      grid-column-end:4;
      grid-row-start:1 ;
      grid-row-end:2 ;

  }
  .grid-item-2{
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start:2 ;
    grid-row-end:4 ;
}
.grid-item-3{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:4 ;
}
.grid-item-4{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:2 ;
    grid-row-end:4 ;
}
.grid-item-5{
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:4 ;
    grid-row-end:4 ;


}
